/* Google Fonts link*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap");
:root {
  --background-color: rgba(255, 144, 14, 0.1);
  --button-color: #ff900e;
  --dark-1: #131313;
  --dark-2: #424242;
  --dark-3: #727272;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* header part */
header {
  background-color: var(--background-color);
  margin-bottom: 40px;
}
.header-content {
  width: 80%;
  margin: auto;
}
.header-content img {
  width: 100%;
  margin: 45px 0;
}
.header-nav {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-1);
}
.header-menu ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-menu ul li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-2);
}
.header-about {
  width: 860px;
  margin: auto;
  text-align: center;
}
.header-about h1 {
  font-weight: 700;
  font-size: 54px;
  color: var(--dark-1);
}
.header-about p {
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-3);
}
.btn {
  color: white;
  font-size: 20px;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 5px;
}

/* Quick list part */

.quick-list {
  width: 80%;
  margin: auto;
}
.quick-list-content {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.quick-list-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.quick-list-images img {
  width: 240px;
  border-radius: 5px;
}
.quick-list-about {
  margin-left: 40px;
}
.quick-list-about h1 {
  font-size: 40px;
}
.quick-list-about h1 .span1 {
  color: var(--dark-3);
}
.quick-list-about h1 .span2 {
  color: var(--button-color);
}
.quick-list-about p {
  font-size: 16px;
  color: var(--dark-3);
  margin: 20px 0;
}
/* Feature You will love & enjoy */
.love-enjoy {
  width: 80%;
  margin: auto;
}
.love-enjoy-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
}
.love-enjoy-about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.love-enjoy-info {
  width: 550px;
}
.love-enjoy-info h1 {
  font-size: 40px;
  border-left: 5px solid var(--button-color);
  padding-left: 30px;
}
.love-enjoy-info p {
  font-size: 14px;
  color: var(--dark-3);
  margin: 20px 0;
  line-height: 26px;
}
.love-enjoy-info-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.love-enjoy-info-content-all {
  margin-left: 20px;
}
.love-enjoy-info-content-all h1 {
  font-size: 20px;
  color: var(--dark-1);
}
.love-enjoy-info-content-all p {
  width: 80%;
  margin: 10px 0;
  line-height: 20px;
  font-size: 12px;
  color: var(--dark-3);
}
.love-enjoy-image img {
  width: 550px;
  height: 850px;
}
.special-btn {
  position: relative;
  right: 50px;
  top: -100px;
  font-size: 40px;
  line-height: 25px;
  background-color: var(--button-color);
  border: none;
  padding: 30px 30px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}
.special-btn span {
  font-size: 16px;
}

/*  Some Facts Part */
.facts {
  width: 80%;
  margin: auto;
}
.facts-about {
  margin: 50px 0;
}
.facts-about h1 {
  font-size: 40px;
  color: var(--dark-1);
}
.facts-about p {
  font-size: 16px;
  color: var(--dark-3);
  margin: 20px 0;
  line-height: 25px;
  width: 40%;
}
.facts-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  margin: 40px;
}
.facts-card {
  border: 1px solid var(--button-color);
  text-align: center;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
}
.facts-card:hover {
  background-color: var(--background-color);
  transform: scale(0.9);
  border: none;
}
.facts-card img {
  width: 34%;
}
.facts-card h1 {
  font-size: 30px;
  color: var(--dark-1);
}
.facts-card p {
  font-size: 12px;
  color: var(--dark-3);
}

/* Our Sponsors */
.sponsors {
  width: 80%;
  margin: auto;
}
.sponsors-about {
  text-align: center;
  margin: 40px;
}
.sponsors-about h1 {
  font-size: 40px;
  color: var(--dark-1);
  margin: 30px;
}
.sponsors-about p {
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 14px;
  color: var(--dark-3);
}
.sponsors-items {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.sponsors-items img {
  width: 100px;
}
/* Cont us */
.contact-us {
  width: 80%;
  margin: auto;
  background-color: rgb(248, 225, 183);
  padding: 20px 0;
  margin-bottom: 40px;
}
.contact-us-site {
  width: 60%;
  margin: auto;
  color: white;
}
.contact-us-site h1 {
  color: var(--dark-1);
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
.contact-us-site h3 {
  color: var(--dark-2);
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}
.contact-us-site p {
  text-align: center;
  font-size: 16px;
  color: rgb(199, 197, 197);
}
.contact-us-site ul {
  display: flex;
  width: 15%;
  margin: auto;
  justify-content: space-around;
}
.contact-us-site ul li {
  color: var(--dark-2);
  list-style: none;
}
/* Media Q. for mobile  */

@media screen and (max-width: 576px) {
  .header-nav {
    flex-direction: column;
    gap: 40px;
  }
  .header-menu ul {
    flex-direction: column;
  }
  .header-about {
    width: 100%;
  }
  .header-about h1 {
    font-size: 40px;
  }
  .quick-list-content {
    flex-direction: column-reverse;
  }
  .quick-list-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 0;
  }
  .love-enjoy-content {
    flex-direction: column;
  }
  .love-enjoy-about {
    width: 100%;
  }
  .love-enjoy-info {
    width: 100%;
  }
  .love-enjoy-image img {
    width: 100%;
    height: 100%;
  }
  .special-btn {
    right: -70px;
    top: 10px;
    padding: 10px 10px;
  }
  .facts-about p {
    width: 100%;
  }
  .facts-content {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: auto;
  }
  .sponsors-items {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .sponsors-about p {
    width: 100%;
  }
}
